:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --button-hover: #35343066;
  --color-button: var(--text-color);
  --color-line: currentColor;
  --cursor: url(../images/hello-kitty-pointer-light.png), pointer;
  --content-color-text: currentColor;
  --color-shadow: #ff0070;
  --display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --button-hover: #35343066;
    --color-button: var(--text-color);
    --color-line: currentColor;
    --cursor: url(../images/hello-kitty-pointer-light.png), pointer;
    --content-color-text: currentColor;
    --color-shadow: #ff0070;
    --display: none;
  }
}