:root {
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --padding: clamp(10px, calc(0.458px + 2.545vw), 20px);
  --margin: 20px;
  --button-hover: #ff007066;
}
